[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Simple DI library
[access "refs/*"]
	owner = group user/Jakub (ulfryk)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Jakub (ulfryk)
	label-Verified = -1..+1 group user/Jakub (ulfryk)
	push = group user/Jakub (ulfryk)
	read = group user/Jakub (ulfryk)
	rebase = group user/Jakub (ulfryk)
	removeReviewer = group user/Jakub (ulfryk)
	submit = group user/Jakub (ulfryk)
[access "refs/heads/*"]
	create = group user/Jakub (ulfryk)
	push = +force group user/Jakub (ulfryk)
	pushMerge = group user/Jakub (ulfryk)
	read = group user/Jakub (ulfryk)
[access "refs/tags/*"]
	push = group user/Jakub (ulfryk)
	push = +force group user/Jakub (ulfryk)
